* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #554129;
}



header {
    background-color: black;
    color: white;
}

.alert-text {
    width: 60%;
    color: #fff;
    background-color: rgb(255, 70, 70);
    border-radius: 5px;
    margin: 3% auto;
}

.board {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    gap: 2px;
    background-color: black;
    width: fit-content;
    border: 15px solid;
    border-radius: 10px;
    margin: 5% auto;
}

.board > .square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.8rem;
    aspect-ratio: 1;
    background-color: #54b954;
}

.board > .square i {
    position: absolute;
    font-size: 0.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board > .square.dark i {
    color: #fff;
}

.board > .square::before {
    content: '';
    display: block;
    width: 95%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: none;
    /* background-color: var(--bg-color); */
    /* background-color: black; */
}

.board > .square.dark::before {
    background-color: #000000;
}

.board > .square.light::before {
    background-color: #ffffff;
}